@import "./variables";

html {
  font-size: 61.5%;
  // font-family: "Lato", sans-serif;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
span,
button,
a,
ul,
li,
p {
  color: $font-color-primary;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  background: none;
}

input,
textarea {
  background: none;
  background-color: none;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  transition: background 0.3s ease-in-out;

  &:focus-visible {
    outline: 1.5px solid gray;
    // outline: 2px solid $bg-green;
  }

  &:hover {
    background: rgb(206, 206, 206);
  }
}
// buttons
button {
  cursor: pointer;
  // padding: 0.5em;
  border-radius: 6px;
}

select {
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.btn-save {
  background-color: $btn-add-color;
  color: white;
  padding: 0.5rem;
}

.add-btn {
  padding: 0;
  font-size: 5rem;
  color: $btn-add-color !important;
  background: none !important;
}

.del-btn {
  font-size: 1.4rem;
  color: $btn-del-color;
  background: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $dark-color-hover;
    rotate: 15deg;
    scale: 1.1;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dashboard-navi {
  font-size: 1.7rem;
  padding: 2rem 0;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

// USERS DISPLAY
.user-img {
  max-width: 50rem;
  max-height: 30rem;
}

.users-list {
  display: flex;
  align-items: center;
  // gap: 0.75rem;

  span {
    margin-right: 2.5rem;
  }
}

.users-list-width {
  width: 100%;
  height: 7rem;
  position: relative;
}

.all-users {
  height: 10rem;
}

.user-mini {
  position: relative;
  margin-left: -1.5rem;

  .user-img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: $users-avatar-border;
  }
  .user-nick {
    position: absolute;
    background-color: white;
    padding: 0.5rem;
    opacity: 0;
    visibility: hidden;
    border-radius: 1px;
    font-size: 1.2rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  }

  .user-img:hover + .user-nick {
    visibility: visible;
    opacity: 1;
    z-index: 2;
  }

  &.row {
    margin: 0 0.25rem;
  }
}

// add btns

.btn-hover-container {
  display: flex;
  align-items: center;
}

.btn-text {
  opacity: 0;
  transition: 0.5s all ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.add-btn {
  &:hover {
    // fill: white;

    & + .btn-text {
      opacity: 1;
    }
  }
}

// .add-btn:hover + .btn-text {
//   opacity: 1;
// }

a:hover + .btn-text {
  opacity: 1;
}

.small {
  font-size: 3rem !important;
}
