$board-bg: #ebedef;
// font colors:

$font-color-main: #656565;
$font-color-secondary: grey;

// dashboard and elements:

$dashboard-container-color: transparent;

$single-board-color: rgb(245, 245, 245);
$single-board-shadow: 1px 1px 5px rgba(114, 114, 114, 0.168);

$single-card-color-hover: rgb(220, 220, 220);
$single-card-shadow: 1px 1px 5px rgba(114, 114, 114, 0.368);

$users-avatar-border: solid rgb(193, 193, 193) 2px;

$font-hover-primary: white;

// elements
$btn-add-color: #00d060;
$bg-green: #00d060;
$btn-del-color: grey;

// background: #4b6cb7;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

// #########################
// $nav-bg: #3c4b64;
// $aside-bg: #353a40;
$nav-bg: #ffffff;
$aside-bg: #ccd3db;

// $board-bg: rgb(223, 223, 223);
$project-card-bg: white;

// text
$board-title: grey;

$shadow-normal: 3px 3px 10px rgba(0, 0, 0, 0.298);

$font-color-primary: #8d939d;

$color-secondary: #ffff;
$color-tertiary: #ffff;
$color-quatemary: #ffff;

$fz-title: 2rem;
$fz-subtitle: 2rem;
$fz-paragraph: 1.4rem;
$fz-button: 1.4rem;

$bg-primary: #ffff;
$bg-secondary: #ffff;
$bg-tertiary: #ffff;
