$nav-bg: white;
$aside-bg: rgb(203, 203, 203);

$board-bg: rgb(223, 223, 223);
$project-card-bg: white;

$bg-green: green;
// text
$board-title: grey;

$shadow-normal: 3px 3px 10px rgba(0, 0, 0, 0.298);
