@import "./variables";
@import "./global";

.app-container {
  position: relative;
  // width: 100%;
  min-height: 60rem;
  background-color: $board-bg;
  // overflow: auto;
}

.user-avatar {
  margin: 0 1rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  border: $users-avatar-border;
}

.header {
  display: flex;
}

.aside-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: fixed;
  left: 0;
  top: 0;
  background: $aside-bg;
  width: 30rem;
  height: 100%;
  translate: -25rem;
  transition: translate 0.5s ease-in-out;
  z-index: 1;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.178);

  padding: 2rem;

  &:hover {
    translate: 0;
  }

  h2,
  ul,
  li,
  p,
  h3,
  span {
    color: $font-color-light-secondary;
    font-weight: 300;
  }

  h2 {
    font-weight: 500;
    margin: 1rem 0;
    color: $font-color-light;
  }

  img {
    width: 15rem;
    border-radius: 6px;
  }

  li {
    font-weight: 100;
  }
  .data-title {
    font-weight: 500;
  }
  .aside-list {
    margin-bottom: 2rem;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
  }

  .users {
    margin-left: 1rem;
    font-size: 3rem;
  }
}

.nav {
  position: relative;
  padding: 0 2rem;
  height: 5rem;
  padding-left: 7rem;
  width: 100%;
  background: $nav-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.178);

  .logo {
    color: $font-color-main;
    font-weight: bold;
  }

  .nav-list {
    margin-right: 2rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;

    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .navlink-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .nav-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: $users-avatar-border;
  }
}
.main {
  background: $board-bg;
  min-height: 95vh;
  margin-left: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.landing-container {
  width: 65%;
  margin: 0 auto;

  .landing-container__title {
    text-align: center;
    font-weight: bold;
    margin: 2rem auto 5rem auto;
    color: $font-color-main !important;
  }

  .landing-container__body {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;

    img {
      max-width: 45rem;
      border-radius: 12px;
    }
  }
  .landing-container__paragraph {
    width: 50rem;
  }

  .img {
    box-shadow: $shadow-normal;
  }
}

.project-list-container {
  word-wrap: break-word;
  h2 {
    padding: 1rem;
    font-weight: bold;
    color: $font-color-main;
  }
  h3 {
    font-weight: 500;
    color: $font-color-main !important;
  }

  .project-list__title {
    margin-bottom: 1rem;
  }

  .project-list__item {
    padding: 2rem;
    min-height: 20rem;
    min-width: 20rem;
    max-width: 30rem;
    border-radius: 12px;
    box-shadow: $single-card-shadow;
    background: $project-card-bg;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    }
  }

  .project-item__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2rem;
  }

  .project-list {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .project__timestamp {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    font-size: 1.2rem;
    font-style: italic;
  }

  .project-list__description {
    margin: 2rem 0;
    font-size: 1.5rem;
  }

  .project-list__btns {
    display: flex;
    gap: 1rem;
  }

  .project-list__image {
    width: 100%;
    border-radius: 2px;
  }
  .project-list__noimage {
    background-color: rgb(194, 194, 194);
    width: 100%;
    height: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;

    span {
      rotate: -15deg;
    }
  }
}

.main-container {
  height: auto;
  position: relative;
  // background-image: url("https://images.unsplash.com/photo-1665510392901-2ca57b159f9d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
  // z-index: 1;
  // background-size: cover;
  // background-repeat: no-repeat;

  // &::before {
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   height: 100%;
  //   width: 100%;
  //   background-color: rgba(255, 255, 255, 0.882);
  //   content: "";
  //   z-index: -1;
  // }
}

.main-container > * {
  z-index: 10;
}

.main__header {
  margin: 2rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  color: $font-color-secondary;

  h2 {
    color: $font-color-main;
    font-weight: bold;
  }
  p {
    min-height: 4rem;
    padding: 1rem 0;
  }
}

.image {
  width: 25rem;
  border-radius: 6px;
}

.dashboard-container {
  margin: 2rem;
  background: $dashboard-container-color;
  display: flex;
  justify-content: flex-start;
  gap: 2.5rem;
  overflow-x: auto;
  padding: 1rem 0;

  h4 {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  .dashboard-container__single-board {
    font-size: 1.2rem;
    padding: 1rem;
    background: $single-board-color;
    height: 60%;
    width: 20%;
    min-width: 20rem;
    min-height: 25rem;
    max-width: 30rem;
    box-shadow: $single-board-shadow;
    border-radius: 6px;
  }
  .dashboard-container__board-title {
    color: $font-color-secondary;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .dashboard-container__tasks-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    word-wrap: break-word;
    p {
      margin: 1rem 0 0 0;
      letter-spacing: 0.5px;
      color: $font-color-tertiary;
    }
  }

  .dashboard-container__single-task {
    position: relative;
    background: white;
    padding: 1.5rem;
    box-shadow: $single-card-shadow;
    border-radius: 3px;
    cursor: pointer;
    transition: color 0.4s ease-in-out;

    &:hover {
      background: $single-card-color-hover;
    }

    .dashboard-container__priority {
      position: absolute;
      top: 0.25rem;
      right: 1rem;
    }
  }

  .dashboard-container__task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .del-btn {
    font-size: 1rem;
    background: red;
    padding: 0.25em 0.5em;
    color: white;
  }
}

.singletask-container {
  word-wrap: break-word;
  // background: $board-bg;
  background-color: white;
  min-width: 60rem;
  max-width: 80rem;
  font-size: 1.6rem;
  padding: 3rem;
  gap: 2rem;
  .singletask__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  button {
    margin: 0 0.5rem;
    text-align: start;
  }

  h2 {
    font-size: 2.5rem;
  }

  .singletask__input--title {
    word-wrap: break-word;
    font-size: 2.5rem;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    color: $font-color-main;
    margin: 0 0 1.5rem 0;
    font-weight: 500;
  }

  .singletask__description--input {
    padding: 0;
    background: none;
    margin: 2rem 0;
    min-height: 10rem;
    font-size: inherit;
  }

  .nav-btn {
    font-size: 1.8rem;
  }

  .singletask__body {
    display: flex;
    gap: 2rem;
  }

  .singletask__left {
    width: 60%;
  }
  .singletask__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .singletask__description {
    min-height: 10rem;
  }

  .singletask__paragraph {
    margin: 1rem 0;
  }

  .singletask__btn--save {
    background-color: $btn-add-color;
    color: white;
    padding: 0.5rem;
  }

  .singletask__btn--cancel {
    background-color: none;
    border: 1px solid grey;
    padding: 0.5rem;
  }

  .singletask__status {
    margin-bottom: 1rem;
    span {
      color: $btn-add-color;
    }
  }

  select {
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }

  .singletask__timestamps {
    margin: 2rem 0;
    font-size: 1.2rem;
    p {
      margin: 0.5rem 0;
      text-align: end;
    }
  }

  .comments {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: end;
    gap: 1rem;
  }

  .single-comment {
    width: 50rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 12px;

    .single-comment__user--timestamp {
      font-style: italic;
      margin-left: 2rem;
      font-size: 1rem;
    }

    .single-comment__comment-editedarea {
      width: 30rem;
    }
  }

  .single-comment__user--user-info {
    display: flex;
    align-items: center;
  }

  .single-comment__text-container {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
  }

  .comment-input-container {
    margin: 1rem 0;
    display: flex;
    width: 50rem;
  }

  textarea {
    width: 100%;
    background: rgba(128, 128, 128, 0.165);
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-size: inherit;
    font-family: inherit;
  }

  .single-comment__user--user-avatar {
    margin: 0 1rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
  }

  .submit {
    margin: auto 0 0 1rem;
    font-size: 2.5rem;
    padding: 0.5rem;
    color: white;
    color: $btn-add-color;
  }
}

.section-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.title-icon {
  font-size: 2.3rem;
}

.worktime__time-progressbar {
  height: 0.7rem;
  width: 100%;
  background: grey;
  position: relative;
  border-radius: 12px 12px 12px 12px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.worktime__time-reported {
  position: absolute;
  max-width: 100%;
  top: 0;
  left: 0;
  height: 0.7rem;
  background: $bg-green;
  transition: all 0.5s ease-in-out;
}

.worktime__time-reported-info {
  margin: 0.75rem 0;
  font-size: 1.4rem;
}

.worktime-modal {
  padding: 2.5rem;

  .worktime__form {
    display: flex;
    align-items: flex-end;
    gap: 3rem;
  }

  .worktime-input-control {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  h4 {
    font-weight: 500;
  }

  label {
    font-size: 1.3rem;
  }

  input {
    font-size: 1.3rem;
    width: 10rem;
  }

  button {
    justify-self: flex-end;
  }
}
// forms
.form-container {
  display: flex;
  justify-content: center;
}

.form {
  margin: 2rem auto 0 auto;
  width: 30rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: $board-bg;
  box-shadow: $shadow-normal;
}

.new-project-container {
  margin: 0 auto;
  width: 65rem;
  border-radius: 12px;
  padding: 2.5rem 0;
  background: $project-card-bg;
  box-shadow: $single-card-shadow;

  h2 {
    text-align: center;
    margin: 2rem auto;
    color: $font-color-main;
  }

  h4 {
    margin-right: 1.25rem;
  }

  form {
    margin: 0 auto;
    width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  input,
  textarea {
    font-size: 1.6rem;
    width: 100%;
    margin: 1rem 0;
  }

  button {
    color: white;
    font-size: 1.5rem;
    background: $bg-green;
    padding: 0.75rem;
    margin: 1rem 0;
  }

  .select {
    margin: 0.5rem 0;
    label {
      margin: 0 1rem;
    }
  }

  select {
    height: 4rem;
    padding: 0 1rem;
  }

  .btns {
    margin: 1rem;
    display: flex;
    gap: 2rem;

    .cancel {
      background: none;
      border: 1px solid grey;
      color: $font-color-main;
    }
  }
}

// ###################################################################

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.501);
  padding: 0;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
}

.testWrapper {
  margin: auto auto;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  overflow-y: auto;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.31);
  background: $board-bg;
}

.modal ul {
  padding: 1em;
  margin: 0;
}

.modal h5 {
  margin: 1em auto 0.5em auto;
  letter-spacing: 1.2px;
  font-size: 21px;
  color: rgb(238, 236, 236, 1);
}

.modal span {
  color: rgb(203, 203, 203);
  line-height: 1.2;
  letter-spacing: 1px;
}

.user-settings-container {
  margin: 0 auto;
  .user-settings-title {
    text-align: center;
    margin: 1rem 0;
    color: $font-color-main;
    font-weight: bold;
  }

  .user-img {
    display: block;
    margin: 0 auto;
    height: auto;
    border-radius: 12px;
  }

  .user-data {
    margin: 1rem 0;
    color: $font-color-primary;
    letter-spacing: 1.2px;

    li {
      margin: 0.25rem 0;
    }
  }

  .data-title {
    font-weight: 500;
  }
}

.login-container {
  .form {
    position: relative;
    padding: 3rem;
    background: $project-card-bg;
    border-radius: 6px;
  }

  .incorrect-password {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    color: red;
  }

  button {
    padding: 0.5rem;
    display: block;
    color: white;
    background: $aside-bg;
  }
}

.delete-modal {
  padding: 2.5rem;
  width: 40rem;
  height: 17rem;

  h2 {
    text-align: center;
    margin: 2rem 0;
  }

  .btns {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  button {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    color: white;
  }
}
.editUser-modal {
  padding: 2.5rem;
  width: 40rem;

  .edit-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  h2 {
    text-align: center;
    margin: 2rem 0;
  }

  .btns {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  button {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    color: white;
  }
}

.employees-container {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  .employees__background {
    position: relative;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-radius: 6px;
    height: 30rem;
    width: 20rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.178);
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    &:hover {
      scale: 1.05;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }

    &:hover .details {
      opacity: 1;
    }
  }

  h4 {
    color: white;
  }
  p {
    color: $font-color-light-secondary;
    font-size: 1.4rem;
  }

  .details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $aside-bg;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
  }

  .employees__background:hover + .details {
    opacity: 1;
    scale: 2;
  }
}

.underline {
  margin: 3rem auto;
  width: 50%;
  background: $bg-green;
  height: 0.5rem;
  border-radius: 12px;
}

.dashboard-underline {
  margin-bottom: 1rem;
  width: 75%;
  background: $aside-bg;
  height: 0.25rem;
  border-radius: 12px;
}

.user-flex {
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: flex-end;

  .user-mini {
    margin-left: -1rem;
    img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  width: 100%;
  font-size: 1.2rem;
  color: $font-color-secondary;
  text-align: center;
  font-style: italic;
  letter-spacing: 1.3px;
}
