@import "./variables";

html {
  font-size: 61.5%;
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
span,
button,
a,
ul,
li {
  color: $font-color-primary;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  background: none;
}

button {
  cursor: pointer;
  padding: 0.5em;
  border-radius: 6px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.app-container {
  position: relative;
  // width: 100%;
  min-height: 60rem;
  background-color: $board-bg;
  // overflow: auto;
}

.header {
  display: flex;
}

.aside-nav {
  position: fixed;
  left: 0;
  top: 0;
  background-color: $aside-bg;
  width: 30rem;
  height: 100%;
  translate: -25rem;
  transition: translate 0.5s ease-in-out;
  z-index: 1;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.178);

  padding: 2rem;

  &:hover {
    translate: 0;
  }
}

.nav {
  position: relative;
  padding: 0 2rem;
  height: 5rem;
  padding-left: 7rem;
  width: 100%;
  background: $nav-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.178);

  .nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .navlink-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .nav-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px solid green;
  }
}
.main {
  background-color: $board-bg;
  // width: 100%;
  // height: 100%;
  min-height: 95vh;
  margin-left: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.landing-container {
  width: 65%;
  margin: 0 auto;

  .title {
    text-align: center;
    font-weight: bold;
    margin: 2rem auto 5rem auto;
  }

  .landing-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    justify-items: center;
    gap: 2rem;
    img {
      max-width: 45rem;
      border-radius: 12px;
    }
  }
  .paragraph {
    width: 50rem;
  }
}

.user-img {
  max-width: 50rem;
  max-height: 30rem;
}

.project-list-container {
  h2 {
    padding: 1rem;
    font-weight: bold;
  }
  h3 {
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .project-list-item {
    padding: 2rem;
    min-height: 20rem;
    min-width: 20rem;
    max-width: 30rem;
    border-radius: 12px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.178);
    background: $project-card-bg;
  }

  .project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .project-users {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
  }

  .del-btn {
    color: white;
    background: red;
    margin: 1rem 0;
  }

  .add-btn {
    color: white;
    background: green;
    margin: 1rem 0;

    .navlink {
      color: white;
    }
  }

  .image {
    width: 100%;
  }
  // .noimage {
  //   background-color: red;
  //   width: 100%;
  //   height: 20rem;
  // }
}

.users-list {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.user-mini {
  position: relative;
  .user-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: solid green 2px;
  }
  .user-nick {
    position: absolute;
    background-color: white;
    padding: 0.5rem;
    opacity: 0;
    border-radius: 1px;
  }

  .user-img:hover + .user-nick {
    opacity: 1;
  }
}

.dashboard-container {
  // min-width: 100%;
  min-height: 50rem;
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  overflow-x: auto;
  padding: 2.5rem;
  background-color: grey;

  h4 {
    font-size: 1.4rem;
    font-weight: bold;
  }

  .single-board {
    font-size: 1.2rem;
    padding: 1rem;
    background-color: $board-bg;
    height: 60%;
    min-width: 18rem;
    min-height: 25rem;
    max-width: 40rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.178);
    border-radius: 6px;
  }
  .board-title {
    color: $board-title;
    margin-bottom: 1rem;
  }

  .tasks-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .single-task {
    background-color: white;
    padding: 1rem;
    box-shadow: 2px 2px 1px rgba(114, 114, 114, 0.268);
    border-radius: 3px;
    cursor: pointer;
    transition: color 0.4s ease-in-out;

    &:hover {
      background-color: rgba(173, 173, 173, 0.826);
    }
  }

  .del-btn {
    font-size: 1rem;
    background: red;
    padding: 0.25em 0.5em;
    color: white;
  }
}
.add-btn {
  color: white;
  background: green;
}

.singletask-container {
  width: 80rem;
  font-size: 1.6rem;
  padding: 3rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    margin: 0 0.5rem;
    text-align: start;
  }

  input {
    background: none;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 0.5rem;
  }

  textarea {
    width: 100%;
    background: rgba(128, 128, 128, 0.165);
  }

  .description-input {
    margin: 2rem 0;
    min-height: 10rem;
    font-size: inherit;
  }

  .nav-btn {
    font-size: 1.8rem;
  }

  .title {
    margin: 2rem 0;
    font-weight: bold;
  }

  .body {
    display: flex;
    // border: 1px solid grey;
  }

  .left {
    width: 60%;
  }

  .description {
    font-style: italic;
    min-height: 10rem;
  }

  .btn-save {
    background-color: green;
    color: white;
  }

  .btn-cancel {
    background-color: none;
    border: 1px solid grey;
  }

  .status {
    margin: 1rem 0;
    span {
      color: green;
    }
  }

  select {
    margin-left: 1rem;
  }

  .timestamps {
    font-size: 1.2rem;
    p {
      margin: 0.5rem 0;
    }
  }

  .comments {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .comment-input-container {
    display: flex;
    width: 50rem;
  }

  textarea {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 6px;
  }

  .user-avatar {
    margin: 0 1rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
  }

  .submit {
    margin: 1rem 0;
    background: green;
    color: white;
  }
}
// forms
.form-container {
  display: flex;
  justify-content: center;
}

.form {
  margin: 2rem auto 0 auto;
  width: 30rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: $board-bg;
  box-shadow: $shadow-normal;
}

.new-project-container {
  margin: 0 auto;
  width: 100rem;

  h2 {
    text-align: center;
    margin: 2rem auto;
  }

  form {
    margin: 0 auto;
    width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  input,
  textarea {
    font-size: 2rem;
    padding: 0.5rem;
    width: 100%;
    margin: 1rem 0;
  }

  textarea {
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
  }

  button {
    color: white;
    font-size: 2rem;
    background: $bg-green;
  }

  .select {
    margin: 2rem 0;
    label {
      margin: 0 1rem;
    }
  }

  select {
    // margin: 1rem 0;
    height: 4rem;
    padding: 0 1rem;
  }
}

// ###################################################################

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.501);
  padding: 0;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
}

.testWrapper {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  /* max-width: 100%; */
  // width: 80%;
  height: 80%;
  max-height: 100%;
  overflow-y: auto;
  /* width: 25% !important; */
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.31);
  background: $board-bg;
}

.modalHeader {
  font-size: 24px;
  font-weight: normal;
  padding: 0.5em;
  background: orangered;
  color: rgb(238, 236, 236, 0.9);
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid white;
}

.modalBody {
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: rgb(238, 236, 236, 1);
  border-bottom: 2px solid white;
}

.modalFooter {
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
  padding: 1em 0.5em;
  text-align: end;
}
.modalFooter button {
  border-color: white;
  border: 2px solid;
  border-radius: 8px;
  padding: 0.25em 0.5em;
}

.modal ul {
  padding: 1em;
  margin: 0;
}

.modal h5 {
  margin: 1em auto 0.5em auto;
  letter-spacing: 1.2px;
  font-size: 21px;
  color: rgb(238, 236, 236, 1);
}

.modal span {
  color: rgb(203, 203, 203);
  line-height: 1.2;
  letter-spacing: 1px;
}
